* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Secular One', sans-serif;
    color: white;
}


.contain {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 30vh 72vh 8vh;
}


header {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-bottom: 1vh solid #145DA0;
    box-shadow: 0 5px 10px -5px #000000;
    z-index: 100;

}

.header2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #145DA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    grid-column: 1/2;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    font-weight: 600;

}

/* Header2 */
.title {
    margin-left: 2vw;
    margin-top: 1vh;
    font-family: "Comic Sans MS";
    font-weight: 900;
    font-size: 50px;

}

/*header*/
.flexbox1 {
    display: flex;
    padding: 0 3vw 0 3vw !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    font-size: 3vw;
    margin-right: 3vw;
    color: #145DA0;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: #145DA0BF;
    opacity: 0.5;
}


.item {
    font-size: 1.8vw;
    font-weight: bold;
}

.navbar {
    width: 100%;
}

.nav-link {
    color: black !important;
}

.navbar-nav {
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}


.item a:hover {

    text-underline-offset: 0.2em;
    color: #145DA0BF !important;
}

.contact {
    white-space: nowrap;
}

.contact a {
    color: #145DA0;
    font-size: 2.5vw;
    margin: 0.4vh 0.4vh 0.4vh 0.4vh;

}

.contact a:hover {
    text-decoration: none;
    opacity: 0.5;

}

.sticky {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

/* Main */

.main1 {
    height: 60vh;
    width: 25vw;
    background-color: #2e8bc0;
    border: #0C2d48 5px solid;
}

.name {
    margin-top: 3vh;
}

.group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.ab {
    font-weight: 500 !important;
    background-color: #0C2d48;
    width: 150px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;


}

.pri {
    font-family: "Lobster";
}

.main2 {
    height: 60vh;
    width: 25vw;
    background-color: #2e8bc0;
    border: #0C2d48 5px solid;

}


.main3 {
    height: 60vh;
    width: 25vw;
    background-color: #2e8bc0;
    border: #0C2d48 5px solid;

}

.ima {
    width: 15vw;
}



/* Footer */
.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #145DA0;


}

.footer2 {
    background-color: #145DA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One';
    color: white;

}

.footer3 {
    background-color: #145DA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One';
    color: white;
}





.ab a {
    color: white;
}

.ab:hover {
    background-color: #B1D4E0;
    cursor: pointer;
}

.ab:hover a {
    color: #0C2d48;
    text-decoration: none;
}

.af {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 1024px) {

    .contain {
        grid-template-rows: 10vh 30vh 100vw 8vh;
    }

    .group {
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
    }

    .ab {
        margin-top: 3vh;
        width: 20vw;
        height: 6vh;

    }

    .name {
        font-size: 2.5vw;
    }

    footer {
        font-size: 14px;
    }

    .main1 {
        height: 40vw;
        width: 40vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    .main2 {
        height: 40vw;
        width: 40vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    .main3 {
        height: 40vw;
        width: 40vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    .ab {
        margin-top: 1.5vw;
        width: 30vw;
        height: 4vw;

    }

    .item {
        font-size: 2vw;
        white-space: nowrap;
    }

    .navbar-nav {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }


    .contact a {
        font-size: 3vw;
    }
    .contact a {
        
        margin: 0.1vw;
    
    }

}


@media screen and (max-width: 767px) {

    main {
        flex-direction: column;
        font-size: 20px;
    }

    .main1 {
        height: 100vw;
        width: 80vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    .main2 {
        height: 100vw;
        width: 80vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    .main3 {
        height: 100vw;
        width: 80vw;
        background-color: #2e8bc0;
        border: #0C2d48 5px solid;
    }

    footer {
        font-size: 17px;
    }

    .footer1 {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contain {
        grid-template-rows: auto 20vh 325vw 8vh;
    }

    .name {
        font-size: 5vw;
    }

    .ima {
        width: 50vw;
    }

    .title {
        font-size: 40px;
    }

    .ab {
        margin-top: 2vw;
        width: 60vw;
        height: 10vw;

    }

    .navbar {
        width: 60%;
    }

    .navbar-nav {
        margin-left: 10%;
        display: flex;
        width: 130%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact {
        position: absolute;
        top: 2.5vh;
        right: 2vw;
    }

    .logo {
        font-size: 4vw;
    }

    .item {
        font-size: 3vw;
    }

    .contact a {
        font-size: 4vw;
    }

}